<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <h1>Dota 2</h1>
    <div>
      <h2><%= hero.title %></h2>
      <img src="<%= hero.image %>" alt="<%= hero.title %>">
    </div>
  </body>
</html>
