<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <h1>Dota 2</h1>
    <div>
      <h2><%= heros[1].title %></h2>
      <img src="<%= heros[1].image %>" alt="<%= heros[1].title %>">
    </div>
  </body>
</html>
